<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleIdentifier</key>
    <string>com.shivanan.gsuite-router.restore-original</string>
    <key>CFBundleName</key>
    <string>Restore Original (GSuiteRouter)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Restore Original (GSuiteRouter)</string>
            </dict>
            <key>NSMessage</key>
            <string>runWorkflowAsService</string>
            <key>NSSendFileTypes</key>
            <array>
                <string>com.google.gsuite-router.gdoc</string>
            </array>
            <key>NSSendTypes</key>
            <array>
                <string>com.google.gsuite-router.gdoc</string>
            </array>
        </dict>
    </array>
</dict>
</plist>
